.App {
  color: white;
}

.vertical-menu {
  width: 100px;
  margin-left: 1%;
  font-weight: lighter;
}

.vertical-menu a {
  color: white; 
  display: block; 
  text-decoration: none; 
}

.vertical-menu a:hover {
 
  font-style: italic;
  font-weight: bold;
}

.title {
  margin: 1%;
  font-weight: lighter;
}
