.App {
  color: white;
  font-family: garamond;
  display: flex;
  flex-direction: column;
  height: 100%;

}


.vertical-menu {
  width: 100px;
  margin: 1%;
  font-size: 150%;

}

.vertical-menu a {
  color: white; 
  display: block; 
  text-decoration: none; 
}

.vertical-menu a:hover {
 
  font-style: italic;
  font-weight: bold;
}


.title {
  position: fixed;
  bottom: 0;
  margin: 1%;
  font-size: 15vw;
}

